<nav class="case-sidebar" aria-label="Case study sections">
  <a href="#the-ask">{% include icon.html name="arrow-right" %} The Ask</a>
  <a href="#the-problem">{% include icon.html name="arrow-right" %} The Problem</a>
  <a href="#working-it-out">{% include icon.html name="arrow-right" %} Working it out</a>
  <a href="#the-system">{% include icon.html name="arrow-right" %} The system</a>
  <a href="#the-ecosystem">{% include icon.html name="arrow-right" %} The ecosystem</a>
  <a href="#outcome">{% include icon.html name="arrow-right" %} Outcome</a>
</nav>
